[data-theme="shopifyRed"] {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2674 0.009 248.1657);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2674 0.009 248.1657);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2674 0.009 248.1657);
  --primary: oklch(0.5778 0.2282 26.5713);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9691 0.0017 247.8397);
  --secondary-foreground: oklch(0.3182 0.0115 248.1899);
  --muted: oklch(0.9768 0.0013 247.8346);
  --muted-foreground: oklch(0.5052 0.0205 248.2336);
  --accent: oklch(0.9577 0.0187 12.8348);
  --accent-foreground: oklch(0.4101 0.1589 25.8706);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9222 0.0044 247.8716);
  --input: oklch(0.9222 0.0044 247.8716);
  --ring: oklch(0.5778 0.2282 26.5713);
  --chart-1: oklch(0.5778 0.2282 26.5713);
  --chart-2: oklch(0.3182 0.0115 248.1899);
  --chart-3: oklch(0.7176 0.1902 149.6);
  --chart-4: oklch(0.8562 0.1696 90.9651);
  --chart-5: oklch(0.7159 0.1804 49.4714);
  --sidebar: oklch(0.9846 0.0009 247.8294);
  --sidebar-foreground: oklch(0.3182 0.0115 248.1899);
  --sidebar-primary: oklch(0.5778 0.2282 26.5713);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9367 0.0283 13.062);
  --sidebar-accent-foreground: oklch(0.4101 0.1589 25.8706);
  --sidebar-border: oklch(0.9379 0.0035 247.8606);
  --sidebar-ring: oklch(0.5778 0.2282 26.5713);
  --font-sans:
    "Inter Variable", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, Menlo, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 1px 4px 0px hsl(0 0 0 / 0.03);
  --shadow-xs: 0px 1px 4px 0px hsl(0 0 0 / 0.03);
  --shadow-sm: 0px 1px 4px 0px hsl(0 0 0 / 0.05), 0px 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow: 0px 1px 4px 0px hsl(0 0 0 / 0.05), 0px 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow-md: 0px 1px 4px 0px hsl(0 0 0 / 0.05), 0px 2px 4px -1px hsl(0 0 0 / 0.05);
  --shadow-lg: 0px 1px 4px 0px hsl(0 0 0 / 0.05), 0px 4px 6px -1px hsl(0 0 0 / 0.05);
  --shadow-xl: 0px 1px 4px 0px hsl(0 0 0 / 0.05), 0px 8px 10px -1px hsl(0 0 0 / 0.05);
  --shadow-2xl: 0px 1px 4px 0px hsl(0 0 0 / 0.13);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

[data-theme="shopifyRed"].dark,
[data-theme="shopifyRed"] .dark {
  --background: oklch(0.145 0.0028 247.4358);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1803 0.0047 248.0863);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1803 0.0047 248.0863);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.5778 0.2282 26.5713);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2674 0.009 248.1657);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2357 0.0075 248.1444);
  --muted-foreground: oklch(0.72 0.0165 248.0568);
  --accent: oklch(0.2566 0.0939 23.8695);
  --accent-foreground: oklch(0.7958 0.1022 15.2778);
  --destructive: oklch(0.3901 0.1297 25.5736);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.2777 0.0095 248.1714);
  --input: oklch(0.2777 0.0095 248.1714);
  --ring: oklch(0.5778 0.2282 26.5713);
  --chart-1: oklch(0.5778 0.2282 26.5713);
  --chart-2: oklch(0.8428 0.009 247.9335);
  --chart-3: oklch(0.7176 0.1902 149.6);
  --chart-4: oklch(0.8562 0.1696 90.9651);
  --chart-5: oklch(0.7159 0.1804 49.4714);
  --sidebar: oklch(0.1917 0.0052 248.1014);
  --sidebar-foreground: oklch(0.9222 0.0044 247.8716);
  --sidebar-primary: oklch(0.5778 0.2282 26.5713);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2566 0.0939 23.8695);
  --sidebar-accent-foreground: oklch(0.8446 0.0747 14.3349);
  --sidebar-border: oklch(0.2569 0.0085 248.1593);
  --sidebar-ring: oklch(0.5778 0.2282 26.5713);
  --font-sans:
    "Inter Variable", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, Menlo, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0px 2px 8px 0px hsl(0 0 0 / 0.2);
  --shadow-xs: 0px 2px 8px 0px hsl(0 0 0 / 0.2);
  --shadow-sm: 0px 2px 8px 0px hsl(0 0 0 / 0.4), 0px 1px 2px -1px hsl(0 0 0 / 0.4);
  --shadow: 0px 2px 8px 0px hsl(0 0 0 / 0.4), 0px 1px 2px -1px hsl(0 0 0 / 0.4);
  --shadow-md: 0px 2px 8px 0px hsl(0 0 0 / 0.4), 0px 2px 4px -1px hsl(0 0 0 / 0.4);
  --shadow-lg: 0px 2px 8px 0px hsl(0 0 0 / 0.4), 0px 4px 6px -1px hsl(0 0 0 / 0.4);
  --shadow-xl: 0px 2px 8px 0px hsl(0 0 0 / 0.4), 0px 8px 10px -1px hsl(0 0 0 / 0.4);
  --shadow-2xl: 0px 2px 8px 0px hsl(0 0 0 / 1);
}
